<h1>Find A Friend</h1>
<%= form_tag friends_find_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :size => 150 %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<table class="pretty">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% for friend in @friends %>
    <tr>
      <td><%= friend["name"] %></td>
      <td><%= friend["email"] %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Back To Friends", friends_path %>
