<h1>New Friend</h1>
<%= form_for(@friend) do |f| %>
  <%= f.label :name %> <br />
  <%= f.text_field :name %> <br />

  <%= f.label :email %> <br />
  <%= f.text_field :email %> <br />

  <%= f.submit "Create Friend" %> <br />
<% end %>
